.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeading {
    margin-bottom: 2rem;
}

.error {
    width: 400px;
    padding: 15px;
    background-color: rgba(221, 23, 23, 0.3);
    color: #ecd8db;
    font-size: 1.2rem;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 0, 43);
    margin-bottom: 1rem;
}

.loginForm {
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #283541;
    border: 1px solid #515a6d;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginForm label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.loginForm input {
    height: 35px;
    padding: 0 7px;
    border-radius: 7px;
    border: 1px solid #515a6d;
    background-color: #16181d;
    color: white;
    font-size: 1rem;
}

.link {
    color: #099bca;
}

@media (max-width: 440px) {
    .loginForm {
        width: 350px;
    }
}